{% extends 'authenticate/login/base.html' %}
{% block title %} Password Reset Done{% endblock %}


{% block heading %}
    <p class ="secondary_text secondary_heading">Password Reset Mail Sent</p>
{% endblock %}

{% block form_content %}
    <p class="ternary_text">
        <span>
            An email with the link has been sent to respective email, kindly reset the password
        </span>
        <br>
        <span>
            If you don't receive an email, please check the span folder.
        </span>
    </p>
    <div class="login_link">
        <span>Kindly click here to<a href="{% url 'login' %}"> Login</a></span>
    </div>


{% endblock %}