{% extends 'authenticate/login/base.html' %}

{% block title %} Change Password {% endblock %}

{% block heading %}
    <p class="primary_text">Welcome User</p>
    <span class="secondary_text">Enter New Password to Reset Password</span>
{% endblock %}

{% block form_content %}
<form method="post">
    {% csrf_token %}
    <div class="form_input--block message">
        <div class="input_block">
            {{ form.as_p}}
        </div>

    </div>

    <div class="form_btn--block form_reset_btn--block btn_change">
        <div class="btn_reset">
            <button class="resetBtn" type="submit">Change Password</button>
        </div>
    </div>
</form>
{% endblock %}
