/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: "Montserrat", sans-serif; */
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    overflow-y:scroll ;
    background: #ffff;
}

.wrapper{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-container {
    width:39%;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1)
}

.form-wrapper {
    width:94%;
    margin:2rem auto;
    padding: 2rem;
    background: antiquewhite;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.form_content {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.form_input {
    width:70%;
}

#title {
    width: 100%;
    padding: 1rem;
    border: none;
}

.btn {
    padding: 1rem;
    border: none;
    font-size: 1.4rem;
    letter-spacing: 1px;
    border-radius: 5px;
}

.list-block{
    width:94%;
    margin:2rem auto;

    height: 53vh;
    overflow: scroll;
}

.heading{
    text-align: center;
    padding:2rem 0;

}

.title_heading {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.list_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size:1.3rem;
    font-weight:600;
    margin-bottom:2rem;
    padding:2rem 0;
    border-bottom: 1px solid skyblue;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.item_list_pending > div:last-child {
    margin-bottom:0;
}

.item_title {
    width:30%;
}

.edit,.delete{
  padding: 1rem;
  background: aquamarine;
  cursor: pointer;
  border-radius:5px;
  letter-spacing:1px;
}

.item_titles {
    cursor:pointer;
}

.date {
    width:30%;
    text-align:center;
}

.item_list_pending,.item_list_completed {
    padding-left: 3rem;
    padding-right: 3rem;
}