<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- form_template.html -->

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div>
        {% if previous_step %}
            <button type="submit" formaction="{% url 'form_view' step=previous_step %}">Previous</button>
        {% endif %}

        {% if next_step %}
            <button type="submit" formaction="{% url 'form_view' step=next_step %}">Next</button>
        {% elif step == 4 %}
            <button type="submit" formaction="{% url 'form_view' step=4 %}">Submit</button>
        {% endif %}
    </div>
</form>

</body>
</html>