{% extends 'base.html' %}
{% block title %}Add Department | Digital Front Door{% endblock %}
{% block content %}
    <div class="form_block">
        <div class="form">
            <div class="form_primary_heading">
                <h4 class="heading--text">
                    Add Department
                </h4>
                <a href="{% url 'department_list' %}" class="btn btn_close">X</a>
            </div>
            <form id="dept_form" action="" method="post">
                {% csrf_token %}
                <div class="formInput form--block">
                    <div class="form-input input_department">
                        <label for="department_name">Department name</label>
                        <input type="text" id="department_name" name="department_name" required>
                    </div>
                     <div class="form-input input_department">
                        <label for="department_number">Department Number</label>
                        <input type="text" id="department_number" name="department_no" required>
                     </div>

                     <div class="form-input input_department">
                        <label for="department_head">Department Head</label>
                        <input type="text" id="department_head" name="department_head" required>
                    </div>
                     <div class="form-input input_department">
                        <label for="department_date">Department Date</label>
                        <input type="date" id="department_date" name="department_date" required>
                    </div>
                    <div class="form-input input_department">
                        <label for="department_status">Department Status</label>
                        <input type="text" id="department_status" name="department_status" required>
                    </div>

                <div class="form-input input_department input_dept_info">
                    <label for="department_info">Department Info</label>
                    <input type="text" id="department_info" name="department_info" required>
                </div>
                </div>
                 <div class="btn_block btn_department">
                    <a href="{% url 'department_list' %}" class="btn btn_cancel">Cancel</a>
                    <button type="submit" class="btn btn_submit">Create Department</button>
                </div>
            </form>
        </div>
    </div>
        <script>
        document.addEventListener('DOMContentLoaded', function() {
            var dept_name = document.getElementById('department_name');
            var dept_num = document.getElementById('department_number');
            var dept_head = document.getElementById('department_head');
            var dept_date = document.getElementById('department_date');
            var dept_status = document.getElementById('department_status');
            var form = document.getElementById('dept_form');

            // Adding input event listeners for real-time validation
            dept_name.addEventListener('input', function() {
                validatedept_name(dept_name);
            });

            dept_num.addEventListener('input', function() {
                validatedept_num(dept_num);
            });

            dept_head.addEventListener('input', function() {
                validatedept_head(dept_head);
            });

            dept_date.addEventListener('input', function() {
                validatedept_date(dept_date);
            });

            dept_status.addEventListener('input', function() {
                validatedept_status(dept_status);
            });

            form.addEventListener('submit', function(event) {
                event.preventDefault();

                if (!validatedept_name(dept_name) ||
                    !validatedept_num(dept_num) ||
                    !validatedept_head(dept_head) ||
                    !validatedept_date(dept_date) ||
                    !validatedept_status(dept_status)) {
                    return false;
                }

                form.submit();
            });
        });

        function validatedept_name(dn) {
            var dn_val = dn.value;
            var allowed_name = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
            if (!allowed_name.test(dn_val)){
                dn.setCustomValidity('Department Name should contain only letters and spaces');
                return false;
            } else {
                dn.setCustomValidity('');
                return true;
            }
        }

        function validatedept_num(dnum) {
            var dnum_val = dnum.value;
            var allowed_num = /^[0-9]+$/;
            if (!allowed_num.test(dnum_val)){
                dnum.setCustomValidity('Department Number should contain only numbers');
                return false;
            } else {
                dnum.setCustomValidity('');
                return true;
            }
        }

        function validatedept_head(dh) {
            var dh_val = dh.value;
            var allowed_name = /^[a-zA-Z.]+(?: [a-zA-Z.]+)*$/;
            if (!allowed_name.test(dh_val)){
                dh.setCustomValidity('Department head should contain only letters, spaces, and dots');
                return false;
            } else {
                dh.setCustomValidity('');
                return true;
            }
        }

        function validatedept_date(dateInput) {
            var inputDate = new Date(dateInput.value);
            var currentDate = new Date();


            currentDate.setHours(0, 0, 0, 0);
            inputDate.setHours(0, 0, 0, 0);

            // Calculate tomorrow's date
            var tomorrowDate = new Date(currentDate);
            tomorrowDate.setDate(currentDate.getDate() + 1);

            if (inputDate >= tomorrowDate) {
                dateInput.setCustomValidity('Date must be today or earlier.');
                return false;
            } else {
                dateInput.setCustomValidity('');
                return true;
            }
        }



        function validatedept_status(ds) {
            var ds_val = ds.value;
            var allowed_name = /^[a-zA-Z]+(?: [a-zA-Z]+)*$/;
            if (!allowed_name.test(ds_val)){
                ds.setCustomValidity('Department Status should contain only letters and spaces');
                return false;
            } else {
                ds.setCustomValidity('');
                return true;
            }
        }
    </script>
{% endblock %}
